{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Processing Your Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Users/aditya/GitHub/Combo-Finder-WA/comboOffer/data/static/styles1.css" />
    </head>
    <body>
        <svg viewBox="0 0 120 120">
            <g class="g1">
                <rect class="r1" x="30" y="30" width="60" height="60" />  
                <rect  class="big" x="81" y="81" width="8" height="8" />  
                <rect class="r_ol" x="31" y="31" width="8" height="8" />  
                <rect  class="r_or" x="81" y="31" width="8" height="8" />  
                <rect class="r_ul"  x="31" y="81" width="8" height="8" />  
                <xrect  class="r_ur" x="81" y="81" width="8" height="8" />
             </g>
        </svg>

    <h1>PROCESSING YOUR DATA</h1>






    </body>
</html>