@import url(//fonts.googleapis.com/css?family=Montserrat:400:300:500:600);

html{
  overflow:hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin:0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight:1000;
  letter-spacing: 2px;
  font-size:40px;
  text-decoration: underline overline 3px ;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	

  color:white;
}

@keyframes gradient {
0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.inner-header {
  height:20vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-container{
  display:flex;
  align-items:center;
}

a{
text-decoration:none;
 margin: 0px 5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:0px;
  font-size:14px;
  font-weight:600;
  color:rgb(41, 54, 179);
  
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:100%;
  text-align:center;
  background: linear-gradient(180deg, rgb(255,255,255,1),rgb(255,255,255,0) )
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .form{
    max-width:80vh;
  }
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:70vh;
 }
  h1 {
    font-size:24px;
  }
}

form{
  display:flex;
  width:80vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding:10px;
  margin:10px;
  border-radius: 1em;
  background: linear-gradient(-45deg,#23d5ab, #23a6d5, #e73c7e,  #ee7752);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;

  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 50%);
}

input{
  width:80%;
  padding:8px;
  margin:10px;
  height:32px;
  font-size:1rem;;
  border:none;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
  border-radius:25px;
  outline:none;
  text-align:center;
  background-color: #ffffff;
  
}



.submit-btn{
  font-size:1rem;
  border:none;
  height:44px;
  width:40%;
  margin:20px 10px;
  border-radius:25px;
  background-color:#3A5FBB50;
  color:#ffffff;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
  
}

button:hover {
  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 90%);
  
}


input[type=file]::file-selector-button {
  border: 2px solid #90e0ef;
  padding: .2em .4em;
  border-radius: .5em;
  background-color: #90e0ef;
  transition: 0.01s;
  align-items: center;
  margin-left: 40%;
  color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 50%);
}

input[type=file]::file-selector-button:hover{

  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 90%);
  background-color: #0077b6;
  color:#ffff ;

}
.submit-btn:hover{


background: linear-gradient(-90deg,#00b4d8,#ade8f4,#caf0f8);
background-size: 400% 400%;
animation: gradient 2s ease infinite;
color: #2862e0;
cursor: pointer;
}

@keyframes gradient {
0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main{

  margin: 0,0,0,0;
  position:relative;
  height:100%;
  text-align:center;
  background: linear-gradient(180deg, rgb(255,255,255,1),rgb(255,255,255,0) )
}

.main h3{

  margin-top: 0px;
  text-align: center;
  text-decoration: none;
  color: #3a0ca3;
  text-shadow: 2px 2px 2px 2px blue;
  font-size: 3rem;
}
